<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Cumpleaños</ion-label>
    <ion-input [(ngModel)]='editUser.birthdate'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input [(ngModel)]='editUser.email'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]='editUser.first_name'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Apellido</ion-label>
    <ion-input [(ngModel)]='editUser.last_name'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Género</ion-label>
    <ion-input [(ngModel)]='editUser.gender'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Ciudad</ion-label>
    <ion-input [(ngModel)]='editUser.city'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Código Postal</ion-label>
    <ion-input [(ngModel)]='editUser.postcode'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Estado</ion-label>
    <ion-input [(ngModel)]='editUser.state'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Calle</ion-label>
    <ion-input [(ngModel)]='editUser.street'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input [(ngModel)]='editUser.password'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Número teléfono</ion-label>
    <ion-input [(ngModel)]='editUser.phone_number'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Imágen</ion-label>
    <ion-input [(ngModel)]='editUser.picture'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Título</ion-label>
    <ion-input [(ngModel)]='editUser.title'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Username</ion-label>
    <ion-input [(ngModel)]='editUser.username'></ion-input>
  </ion-item>
  <ion-button expand="block" color="success" (click)="clicAgregarUser()">Agregar nuevo usuario</ion-button>
  <h1>Lista de usuarios</h1>
  <ion-list>
    <ion-item *ngFor="let documentUser of arrayColeccionUsers" (click)="selectUser(documentUser)">
      <ion-button color="danger" (click)="clicEliminarUser()">Eliminar usuario<ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="clicActualizarUser()">Actualizar usuario<ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-grid>
        <ion-row>
          <h2>{{documentUser.data.email}}</h2>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>